@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
    font-size: 15px;
    margin-top: 135px;
    background-color: white;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    height: 135px;
}
nav{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
}
nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    font-weight: 300;
  }
.register, .login{
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 13px;
  }
.register {
    background-color: #8BC34A;
    color: white;
}
.navKos{
    position: absolute;
    top: 68px;
    right: 65px;
    background: rgb(255, 128, 0);
    border-radius: 45%;
    font-weight: 700;
    width: 40px;
    text-align: center;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: .9em;
}
.navIco{
    margin: 15px;
    margin-left: 30px;
}
.login {
    background-color: #E0E0E0;
    color: black;
}

.register:hover {
    background-color: #7cda11;
    transition: .4s;
}
.login:hover {
    background-color: #ccc5c5;
    transition: .4s;
}
.navigace a:hover{
    color: red;
    transition: 0.3s;
}
section {
    padding: 30px 5%;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}
.uvodni {
    text-align: center;
}
.uvodni h1 {
    margin: 5px 0px;
    font-size: 2.5em;
}
p {
    color: rgb(0, 0, 0);
}
/*
.top img {
    scale: 1.1;
    width: 100%;
    padding: 0px;
}
*/
.top img {
    width: 100%;
    max-width: 70%;
}
.top {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}
.top article {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.produkt {
    width: 250px;
    min-width: 250px;
    text-align: left;
    margin: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgb(107, 107, 107);
    border-radius: 7px;
    transition: 0.5s;
}
.produkt:hover{
    scale: 1.04;
    box-shadow: 0 0 10px rgb(58, 58, 58);
}
.produkt img {
    width: 100%;
    max-width: max-content;
}
.produkt h2 {
    margin: 5px 0px;
}
.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nazev {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.produkt p {
    color: rgb(110, 110, 110);
    display: flex;
    align-items: center;
}
.produkt div.nazev p {
    color: red;
    font-size: 1.5em;
}
.food, .drinks {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 0px;
}
.food article, .drinks article {
    margin: 15px;
}
.food h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
.food .buy, .drinks .buy, .detail .buy{
    background-color: rgb(255, 128, 0);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    margin: 10px 0px;
    width: 130px;
    color: white;
    justify-content: center;
}
.food img, .drinks img {
    width: 100%;
    max-width: 70%;
}
.food a, .drinks a {
    text-decoration: none;
    color: black;
}
.drinks{
    padding-top: 0px;
}
.buy {
    align-items: center;
}
.buy span {
    font-size: 25px;
    font-weight: 200;
}
.kosik {
    padding-top: 190px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.kosikAll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 13px rgb(32, 32, 32);
    border-radius: 7px;
}
.soupis {
    display: flex;
    flex-direction: column;
    align-self: start;
}
th, td{
    height: 60px;
    width: 120px;
    padding: 10px 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}
tr {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 7px rgb(170, 170, 170);
    border-radius: 7px;
    margin: 6px;
}
.tabPrvni {
    box-shadow: none;
    border-radius: 0px;
}
.tabPrvni th {
    height: 30px;
}
th {
    border-bottom: 1px solid rgb(0, 0, 0);
}
.kosik img {
    width: 80px;
}
.udaje {
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.total {
    padding: 20px 0px;
    border-top: 1px solid black;
    margin: 25px;
}
.total div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first p{
    margin: 0px;
    font-weight: 500;
}
.second {
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid black;
    font-weight: 500;
}
.third{
    margin: 20px 0px;
    font-weight: 600;
}
.third p{
    font-size: 19px;
}
.udaje a {
    width: 200px;
    align-self: center;
}
.list h2 {
    margin: 10px 0px 10px 0px;
    padding: 0px 30px;
}
.objn-cislo{
    align-self: center;
}
form {
    display: flex;
    flex-direction: column;
}
.formRow1-1{
    width: 200px;
    border-radius: 10px 0px 0px 0px;
    border-right: none;
    border-bottom: none;
}
.formRow1-2{
    width: 200px;
    border-radius: 0px 10px 0px 0px;
    border-bottom: none;
}
.formRow2-1{
    width: 140px;
    border-radius: 0px 0px 0px 10px;
    border-right: none;
}
.formRow2-2{
    width: 260px;
    border-radius: 0px 0px 10px 0px;
}
.formRow3-1{
    width: 140px;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}
.formRow3-2{
    width: 140px;
    border-radius: 0px;
    border-right: none;
}
.formRow3-3{
    width: 75px;
    border-radius: 0px 10px 10px 0px;
}
.formRow4-1{
    width: 450px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}
.formRow4-2{
    width: 200px;
    border-radius: 0px 0px 0px 10px;
    border-right: none;
}
.formRow4-3{
    width: 200px;
    border-radius: 0px 0px 10px 0px;
}
input{
    padding: 15px;
    display: inline-block;
    border: 1px solid rgb(66, 66, 66);
}
.zaplat{
    background-color: rgb(255, 128, 0);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.detail h1{
    font-size: 30px;
}
.detail {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    flex-wrap: nowrap;
    padding: 80px 10% 0px 10%;
    align-items: center;
}
li:empty {
    display: none;
}
.det1 img {
    width: 400px;
}
.det1{
    display: flex;
    align-items: center;
}
.split{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.split:last-child{
    padding-right: 60px;
}
.det2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 100px;
    max-width: 50%; 
}
.cena {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}
.popis p {
    margin-bottom: 15px;
}
.mnozstvi{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.mnozstvi p{
    padding: 10px;
}
.mnozstvi a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.vyber{
    justify-content: center;
    padding-top: 180px;
}
.vyber button{
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(107, 107, 107);
    border: none;
    font-weight: 500;
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    transition: .4s;
}
#vse{
    background-color: orange;
}
.vyber button:hover {
    background-color: #ececec;
    box-shadow: 0 0 10px rgb(58, 58, 58);
}
.hidden {
    display: none;
}
.schovanej {
    display: none;
}
.zoomShow{
    display: flex;
    flex-direction: row;
}
.soupis span:last-of-type{
    margin-left: 25px;
}
.soupis{
    cursor: pointer;
    padding: 0px 40px;
}
.sect4{
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: row;
    padding: 50px;
    padding-bottom: 0px;
    justify-content: space-evenly;
}
.sect4 a{
    color: lightgray;
    font-size: 14px;
    margin: 6px;
    text-decoration: none;
    justify-content: center;
}
.sect4 h1{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 0px;
}
.sect4 article{
    margin: 50px;
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
}
.btm1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sect4 div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: baseline;
}
.btmlogo{
    width: 200px;
}
.btm3{
    margin-top: 20px;
}
.btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 30px;
    font-weight: 500;
}
.popup{
    width: 400px;
    background: #a4a4a4; 
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50% ) scale(0.1);
    text-align: center;
    padding: 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform .4s, top .4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%; 
    margin-top: 30px; 
    padding: 10px 0; 
    background: #6fd649; 
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
